<?xml version='1.0' encoding='utf-8'?>
<widget id="cz.viscokupujes.mnamka" android-versionCode="20000200" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Víš Co Kupuješ?</name>
    <description>Chceš jíst zdravě, ale nevyznáš se v éčkách?</description>
    <author email="viscokupujes@gmail.com" href="https://viscokupujes.cz">goBANANA</author>
    <content src="app/index.html" />
    <icon src="www/icon-cart-64.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="https://www.facebook.com/*" />
    <allow-intent href="https://wa.me/*" />
    <allow-intent href="https://*.whatsapp.com/*" />
    <allow-intent href="http://www.jidelniplan.cz/*" />
    <allow-intent href="mailto:*" />
    <preference name="loadUrlTimeoutValue" value="60000" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#3cb73c" />
    <preference name="StatusBarStyle" value="lightcontent" />
    <platform name="android">
        <preference name="SplashScreenDelay" value="0" />
    </platform>
</widget>