
@import "~react-searchbox/dist/react-searchbox.css";

/**************************/
/*********** App **********/
/**************************/
.App {
  max-width: 800px;
  margin: 0 auto 0 auto;
  background-color: #fff;
}

.App__content {
  padding: 5px 5px 50px 5px;
}

/**************************/
/*********** SideNav **********/
/**************************/
.SideNav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

.SideNav:before {
  content: '';
  will-change: opacity;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  display: block;
  position: absolute;
  transition: opacity 250ms cubic-bezier(0,0,.21,1);
}

.SideNav--visible {
  z-index: 20;
}

.SideNav--visible:before {
    opacity: .7;
}

.SideNav__header {
  height: 120px;
  background-color: #3cb73c;
  position: relative;
}

.SideNav__content {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  z-index: 21;
  position: relative;
  height: 100%;
  width: 300px;
  max-width: 80%;
  overflow: hidden;
  transform: translateX(-100%);
  will-change: transform;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  transition: transform 250ms cubic-bezier(0,0,.21,1);
}

.SideNav--visible .SideNav__content {
  transform: translateX(0);
}

.SideNav__title {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
}

.SideNav__link {
  display: block;
  height: 48px;
  line-height: 48px;
  padding-left: 30px;
}
/**************************/
/*********** AboutUs **********/
/**************************/


.AboutUs {
  margin: -5px;
  padding-bottom: 50px;
  background-color: #3cb73c;
  font-family: 'Roboto', sans-serif;
}

.AboutUs p {
  padding: 10px 15px;
  color: white;
  line-height: 20px;
  text-align: justify;
}

.AboutUs a { color: white; }

.AboutUs__ecka {
  text-align: center;
  padding: 15px 0px;
  font-family: 'Roboto', sans-serif;
}

.AboutUs__ecka p {
  text-align: justify;
  line-height: 20px;
  padding-top: 10px;
}

.AboutUs__ecka .Ecko {
  font-weight: bold;
  font-size: 40px;
  border: 1px solid white;
}

/**************************/
/******* Toolbar **********/
/**************************/
.Toolbar {
  background-color: #2a802a;
  position: relative;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 2px 9px 1px rgba(0,0,0,.12), 0 4px 2px -2px rgba(0,0,0,.2);
}

.Toolbar__homeLink {
  border: none;
  background-color: transparent;
}

.Toolbar__sideNavLink {
  position: absolute;
  top: 5px;
  left: 10px;
  opacity: .54;
  transition: opacity 333ms cubic-bezier(0,0,.21,1);
  border: 1px solid transparent;
}
.Toolbar__sideNavLink:hover, .Toolbar__sideNavLink:active {
  opacity: 1;
  border-color: #fff;
}
.Toolbar__sideNavLink svg { vertical-align: middle; }

.Toolbar__fbLink {
  position: absolute;
  top: 10px;
  right: 10px;
}

.Toolbar__title {
  font-size: 30px;
  color: white;
  margin: 0 30px 0 0;
  text-align: center;
  text-shadow: 1px 1px 3px #222;
}

.Toolbar__title img {
  vertical-align: middle;
  display: inline-block;
}

.Toolbar__searchButton {
  background: transparent;
  border: none;
  height: 45px;
  width: 45px;
  position: absolute;
  top: calc(50% - 20px);
  right: 10px;
  fill: white;
}

/****************************/
/********* SearchBox ********/
/****************************/

.SearchBox,
.SearchBox__input,
.SearchBox__clearButton,
.SearchBox__backButton {
  font-family: 'Roboto', sans-serif;
}

.SearchBox__clearButton {
  font-size: 15px;
  width: 26px;
  height: 26px;
  top: calc(50% - 13px);
}

.SearchBox__input {
  font-size: 20px;
  padding: 5px 50px 5px 10px;
}

.SearchBox {
  padding: 5px;
}

.SearchBox__link {
  padding: 6px;
}

.SearchBox__Product-name {
  padding-bottom: 6px;
  display: block;
  font-size: 16px;
}

.SearchBox__Product-highlight {
  background-color: yellow;
}

.SearchBox__Product-producer {
  font-size: 13px;
  color: #bbb;
}

.Suggestion__link {
  padding: 6px 10px;
}

/**************************/
/********* Product ********/
/**************************/

.Product {
  padding: 10px 0;
  font-family: "Roboto", sans-serif;
}

.Product__name {
  padding-bottom: 10px;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.Product__producer {
  font-size: 15px;
  color: #bbb;

}

.Product__nutrition-facts {
  border: 2px solid black;
  padding: 10px;
  border-collapse: separate;
  background-color: white;
  margin: 10px auto;
}

.Product__nutrition-facts td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.Product__nutrition-facts caption {
  border: 2px solid black;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.Product__nutrition-facts caption div {
  font-size: 12px;
  padding-top: 10px;
}

.Ecko-emptylist {
  margin: auto;
  padding: 20px 10px;
  display: table;
  font-size: 20px;
  font-weight: bold;
  color: #319631;
}

.Ecko-emptylist > * {
  display: table-cell;
  vertical-align: middle;
}

.Ecko-emptylist__text {
  padding-left: 10px;
}

.Ecko {
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 21px;
  font-family: 'Patrick Hand', cursive;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
}

.Ecko--0 {
  background-color: #3cb73c;
  background-image: linear-gradient(#3cb73c, #319631);
}

.Ecko--1 {
  background-color: #ffcc00;
  background-image: linear-gradient(#ffd265, #ffcc00);
}

.Ecko--2 {
  background-color: #ff5353;
  background-image: linear-gradient(#ff5353, #bb0000);
}

.Ecko-modal {
  position: fixed;
  background-color: white;
  border: 3px solid gray;
  width: 500px;
  z-index: 21;
  top: 15%;
  left: 5%;
  width: 90%;
  padding: 20px 10px;
}

.Ecko-modal__btnClose {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  display: inline-block;
  border: none;
  font-size: 25px;
  height: 40px;
  width: 40px;
}

.Ecko-modal__title {
  font-size: 20px;
  font-weight: bold;
}
.Ecko-modal__title > * { display: table-cell; }
.Ecko-modal__name {
  padding-left: 10px;
  vertical-align: middle;
}

.Ecko-modal__content {
  padding-top: 15px;
}

@media only screen and (min-width: 700px) {
  .Ecko-modal {
    width: 600px;
    left: calc(50% - 300px);
  }
}

.Ecko-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, .5);
}
