@import "~react-searchbox/dist/react-searchbox.css";

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local('Patrick Hand'), local('PatrickHand-Regular'), url("./fonts/PatrickHand-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Luckiest-Guy.ttf");
}

@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Caveat-Regular.ttf");
}

@media only screen and (min-width: 800px) {
  .mobile-only { display: none; }
}
