@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: 400;
  src:
    local('Luckiest Guy Regular'),
    local('LuckiestGuy-Regular'),
    url(./LuckiestGuy-Regular.woff) format("woff"),
    url(./LuckiestGuy-Regular.ttf) format("truetype");
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./Roboto-Regular_LatinExt.woff2) format('woff2'), url(./Roboto-Regular.ttf) format("truetype");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(./Roboto-Regular_Latin.woff2) format('woff2'), url(./Roboto-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}