.Home {
  font-family: 'Roboto', sans-serif;
  color: #444;
}

.Home__video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.Home__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Home__aboutUs {
  text-align: center;
  font-family: 'Caveat';
  font-size: 20px;
  padding-bottom: 20px;
}

.Home__aboutUs > div {
  display: inline-block;
  position: relative;
  margin: 10px 20px 0px 20px;
}

.Home__aboutUs > div > * {
  display: block;
}

.Home__container {
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.Home__container--first {
  text-align: center;
  font-size: 110%;
}

.Home__bgblock {
  background-color: #dedede;
  position: relative;
}

.Home__bgblock--withImg:before {
  content: '';
  opacity: .1;
  background-image: url("/desktop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
}

.Home__bgblock--white {
  background-color: #fff;
}

.Home__bgblock--green {
  background-color: #2a802a;
  color: white;
}

.Home__bgblock--green .Home__subtitle {
  color: white;
}

.Home__subtitle {
  text-align: center;
  font-size: 25px;
  color: #2a802a;
  padding: 35px 0 30px 0;
}

.Home__list {
  counter-reset: section;
  position: relative;
}

.Home__list li:before {
  border: 1px solid white;
  padding-top: 2px;
  text-align: center;
  counter-increment: section;
  content: counter(section);
  width: 32px;
  height: 30px;
  border-radius: 16px;
  display: inline-block;
  position: absolute;
  left: -45px;
}

.Home__list li {
  position: relative;
  line-height: 27px;
  display: block;
  vertical-align: top;
  padding: 0 10px 30px 0px;
  margin-left: 50px;
}

.Home__funcList {
  text-align: center;
  padding: 20px 0 40px 0;
}

.Home__func {
  opacity: .9;
  display: inline-block;
  height: 90px;
  width: 90px;
  margin: 10px 20px;
  border: 2px solid #2a802a;
  box-shadow: 2px 2px 1px gray;
  background-color: #fff;
  border-radius: 45px;
  color: #2a802a;
  font-size: 20px;
}

.Home__funcbox {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
}

.Home__func:nth-child(odd) {
  background-color: #2a802a;
  color: #fff;
}

.Home__funcbox svg {
  width: 80%;
  height: 80%;
  position: absolute;
  left: 10%;
  top: 10%;
}

.Home__funcbox + div {
  font-family: 'Caveat';
  white-space: nowrap;
  color: #2a802a;
  text-transform: uppercase;
  width: 100%;
}


.Home p {
  padding: 0px 10px 20px 10px;
  line-height: 27px;
  margin: 0 auto;
}

.Home__gplay img {
  max-width: 200px;
  width: 100%;
  margin: -10px;
}

.Home__ecka {
  text-align: center;
  display: inline-block;
  font-family: 'Roboto', sans-serif;
}

.Home__ecka .Ecko {
  font-weight: bold;
  font-size: 25px;
  border: 1px solid white;
}


  .Home__container--first p {
    padding-bottom: 5px;
  }

@media only screen and (max-width: 799px) {
  .Home__container--first {
    font-size: 100%;
  }

  .Home__funcList {
    padding: 0 0 15px 0;
  }

  .Home__func {
    height: 70px;
    width: 70px;
    font-size: 16px;
    margin: 20px 15px;
  }
}
