.VisCoKupujesBtn {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  background-color: #777;
  text-transform: uppercase;
  display: inline-block;
  height: 36px;
  padding: 0 26px;
  margin: 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.VisCoKupujesBtn--blue {
  background-color: #2196F3;
}

.VisCoKupujesBtn--green {
  background-color: #2a802a;
}

.VisCoKupujesBtn--red {
  background-color: #F44336;
}
