.Ecko {
  color: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 35px;
  font-size: 21px;
  font-family: 'Patrick Hand', cursive;
  line-height: 60px;
  text-align: center;
  display: inline-block;
  margin: 5px;
  text-transform: capitalize;
  vertical-align: middle;
  text-shadow: 0px 0px 3px #666;
}

.Ecko--small {
  width: 46px;
  height: 46px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 46px;
  margin: 3px;
}

.Ecko--0 { background-color: #2eb72e; }
.Ecko--1 { background-color: #fbb117; }
.Ecko--2 { background-color: #ff3333; }
