.Allergen__name {
  position: absolute;
  bottom: 0;
  width: 65px;
  text-align: center;
}

.Allergen {
  font-size: 12px;
  position: relative;
  height: 65px;
  width: 65px;
  display: inline-block;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.Allergen svg {
  margin-top: 5px;
  width: 45px;
  height: 45px;
}
