.App__content {
  max-width: 800px;
  margin: 0 auto 0 auto;
  padding: 5px 5px 50px 5px;
  font-family: 'Roboto', sans-serif;
  line-height: 150%;
}

body[data-page="/"] .App__content {
  padding-top: 20px;
}

@media only screen and (min-width: 800px) {
  body[data-page="/"] .App__content {
    max-width: none;
    padding-top: 40px;
  }

  .App__content {
    background-color: white;
  }

  #root:before {
    content: '';
    opacity: .3;
    background-image: url("/desktop-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: block;
    position: fixed;
    z-index: -1;
  }

  body[data-page="/"] #root:before {
    content: none;
  }

}
