.VisCoKupujesBtn {
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #FFF;
  background-color: #777;
  text-transform: uppercase;
  display: inline-block;
  height: 45px;
  font-size: 16px;
  padding: 0 30px;
  margin: 6px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.VisCoKupujesBtn:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.VisCoKupujesBtn:active:before {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}

.VisCoKupujesBtn:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.VisCoKupujesBtn--small {
  padding: 0 15px;
  font-size: 14px;
  height: 35px;
}

.VisCoKupujesBtn--blue {
  background-color: #2196F3;
}

.VisCoKupujesBtn--green {
  background-color: #2a802a;
}

.VisCoKupujesBtn--red {
  background-color: #F44336;
}
