.EckoOverview__filter {
  text-align: center;
  font-family: 'Roboto', sans-serif;

  background: #ddd;
  padding-top: 10px;
}

.EckoOverview__filter input {
  margin: 5px 0 10px 0;
  padding: 5px;
  font-size: 15px;
}

.EckoOverview__filterEmpty {
  font-family: 'Roboto', sans-serif;
  padding-top: 30px;
  text-align: center;
}
