.FbShare {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 30px 0;
}

.FbShare__box {
  display: inline-block;
  background: #ddd;
  padding: 25px 45px;
}

.FbShare__title {
  font-size: 20px;
}

.FbShare__text {
  font-size: 13px;
  padding-top: 15px;
}

.FbShare__btn {
  margin-top: 20px;
  position: relative;
  padding: 10px 80px 10px 20px;
  background: #2a802a;
  border: none;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
}

.FbShare__btn:hover {
  background: #3cb73c;
}

.FbShare__btn::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
}

.FbShare__btn svg {
  position: absolute;
  right: 15px;
}
