.ManualScan {
  font-family: "Roboto", sans-serif;
  color: black;
}

.ManualScan p {
  margin: 20px 0;
}

.ManualScan__title {
  font-size: 20px;
}

.ManualScan__form {
  text-align: center;
}

.ManualScan__input {
  font-size: 20px;
  max-width: 220px;
  padding: 8px;
  margin: 6px 10px 10px 10px;
  text-align: center;
}

.ManualScan__input::-webkit-inner-spin-button,
.ManualScan__input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
