.Product {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
}

.AllergenList {
  margin-top: 20px;
}

.AllergenList__title {
  font-size: 15px;
  font-weight: bold;
}

.Product__name {
  padding-bottom: 10px;
  display: block;
  font-size: 25px;
  font-weight: bold;
}

.Product__pricelist {
  margin-top: 20px;
  background: #ddd;
  padding: 10px;
  text-align: center;
}

.Product__pricelist-title {
  font-weight: bold;
  padding-bottom: 10px;
}

.Product__price {
  display: inline-block;
  margin-right: 2px;
  padding: 5px;
  background-color: #777;
  border-radius: 3px;
}

.Product__price > * {
  text-align: center;
  display: block;
}

.Product__price-amount {
  background-color: white;
  padding: 8px;
  border-radius: 3px;
  font-weight: bold;
}

.Product__price-shop {
  margin-top: 3px;
  color: white;
  font-size: 12px;
}

.Product__producer {
  font-size: 15px;
  color: #bbb;
}

.Product__ingredients {
  padding-top: 15px;
  font-size: 15px;
}

.Product__ingredients::first-line {
  font-weight: bold;
}

.Product__nutrition-facts {
  border: 2px solid black;
  padding: 10px;
  border-collapse: separate;
  background-color: white;
  margin: 10px auto;
}

.Product__nutrition-facts td {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.Product__nutrition-facts caption {
  border: 2px solid black;
  color: white;
  background-color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.Product__nutrition-facts caption div {
  font-size: 12px;
  padding-top: 10px;
}

@media only screen and (min-width: 800px) {
  .Product {
    margin: 20px 10px 10px 10px;
  }
}
