.ReportMistake {
  padding: 10px 0px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  transition: background-color .5s;
}

.ReportMistake__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s;
}

.ReportMistake--open { background-color: #fff0f0; }
.ReportMistake--open .ReportMistake__content { max-height: 800px; }

.ReportMistake__button {
  color: #ff1d1d;
  text-align: center;
  border: none;
  background: none;
  font-size: 12px;
}

.ReportMistake__description {
  resize: none;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  display: block;
  width: 90%;
  max-width: 400px;
  height: 90px;
  margin: 20px auto;
}
