.Share {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 20px 0;
}

.Share__title {
  font-size: 20px;
  font-weight: bold;
  color: #319631;
}

.Share__text {
  font-size: 13px;
  padding-top: 5px;
}

.Share_button {
  border: none;
  border-radius: 5px;
  color: white;
  vertical-align: middle;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 10px 10px 0px 10px;
  position: relative;
  padding: 7px 40px 7px 20px;
}

.Share_button--facebook {
  background: #3b5998;
}

.Share_button--facebook:hover {
  background: #2f4779;
}

.Share_button--whatsapp {
  background: #25D366;
}

.Share_button--whatsapp:hover {
  background: #128C7E;
}

.Share_button svg {
  right: 10px;
  position: absolute;
}
