.SideNav__header {
  height: 150px;
  background: url("../icons/banner-660x360.png") #2a802a center center no-repeat;
  background-size: contain;
  position: relative;
}

.SideNav__content {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  position: relative;
  height: 100%;
  width: 100%;
}

.SideNav__title {
  color: #2a5b0b;
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 10px;
}

.SideNav__link {
  text-decoration: none;
  color: black;
  display: block;
  height: 55px;
  line-height: 60px;
  position: relative;
  padding-left: 60px;
  overflow: hidden;
}

.SideNav__link svg {
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
  color: #bbb;
}

.SideNav__link:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform .5s, opacity 1s;
}

.SideNav__link:active:before {
  transform: scale(0,0);
  opacity: .2;
  transition: 0s;
}

.SideNav__link svg {
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
  color: #bbb;
}
